body{

    background-image: url("bkg_img_1.jpeg");
    color: black;
    font-family: Chalkduster, fantasy;
}
.myPage{
    width: 900px;
    min-height: 1000px;
    height: 100%;
    margin: 10px auto;
    padding-left: 20px;
    padding-right: 20px;
}
.header{
    margin-top: 5px;
    height: 200px;
}
.nav-bar{
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    width: 900px;
    margin: auto;
    margin-top: 30px;
    border-radius: 15px;
    background-color: #577f94;
    opacity: 95%
}
.nav-link{
    display: inline;
    padding-right: 75px;
    padding-left: 75px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
a:link{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: blue;
}

.slogan{
    font-size: 25px;
    font-weight: heavy;
    text-align: left;
    width: 100px;
    margin-right: 620px;
    margin-top: 50px;
    padding: 5px;
    display: inline;
    float: right;
    font-weight: bold;
    color: #000000;
    background: #FFFFFF;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    opacity: 90%;
}
#logo{
    width: 150px; 
    height: 150px;
    margin-top: 40px;
    border-radius: 50%;
    border-style: solid;
}
main{
    margin: 50px 0px 0px 10px;
    padding: 30px 30px;
    background-color: #02eded;
    opacity: 85%; 
}